@import url('./fonts.css');


* {
margin: 0;
padding: 0;
outline: none;
}


a{
color: inherit;
text-decoration: inherit;
}


body {
font-family: 'Roboto';


}


li {
list-style: none;
}


header {
height: 48px;
width: 100%;
}


.panel {
box-shadow: 0px 4px 0px #00000012, 0px 4px 4px #00000018;
background-color: #ffffff;
padding: 0 18px;
box-sizing: border-box;
}


.panel button {
color: #757575;
background-color: #ffffff;
border: 0;
font-size: 16px;
height: 48px;
width: 100%;
padding: 5px;
cursor: pointer;
text-align: left;
}


.panel li {
width: 100%;
}


.panel hr {
border-top: 1px solid #EDEDED;
}


h1 {
font-size: 20px;
color: #000000;
margin: 10px;
}


#main-btn {
float: left;
margin: 0 40px 0 10px;
}


#menu-btn {
float: right;
position: absolute;
right: 20px;
top: 10px;
}


.ad-menu {
right: 20px;
top: 20px;
}



/*dropdown menu style*/
.dropdown {
display: none;
margin-top: 25px;
position: absolute;
}


input.spoiler:checked+div[class*="dropdown"] {
display: block;
background-color: #f2f2f2;
width: 40px;
height: 20px;
padding: 20px;
}


input.spoiler {
-webkit-appearance: none;
outline: none;
}


#main-btn::before {
content: url("./assets/images/menu.jpg");
}


#main-btn:checked::before {
content: url("./assets/images/menu.jpg");
}


#menu-btn::before {
content: url("./assets/images/menu-icon.jpg");
}


#menu-btn:checked::before {
content: url("./assets/images/menu-icon.jpg");
}



.colors {
width: 228px;
height: 246px;
margin-top: 92px;
margin-left: 29px;
}


.colors li{
height: 48px;
width: 100%;
padding: 12px 0;
box-sizing: border-box;
}


.tools {
width: 228px;
height: 246px;
margin-top: 79px;
margin-left: 29px;
}


.tools span{
float: left;
margin-left: 33px;
padding-top: 5px;
}


.tools img {
width: 24px;
height: 24px;
object-fit: cover;
float: left;
}


.canvas {
display: grid;
grid-template: repeat(3,1fr) / repeat(3,1fr);
width: calc(200px*3);
height: calc(200px*3);
position: absolute;
top: 130px;
right: 82px;
}


.figure {
display: block;
width: 200px;
height: 200px;
background-color: #c4c4c4;
margin: 7.5px;
position:relative;
z-index: 2;
left: 0;
top: 0;
}


.circle {
border-radius: 100%;
}


.diamond {
transform: rotate(45deg) scale(0.7);
}


button.active-btn {
border: 2px solid #c4c4c4;
outline: none;
}


.color {
background-color: #c4c4c4;
width: 20px;
height: 20px;
display: block;
border: 1px solid #000000;
border-radius: 100%;
font-size: 0;
float: left;
margin-right: 14px;
position: relative;
z-index: 1;
}


#color_picker {
border: 1px solid #000000;
border-radius: 100%;
width: 20px;
height: 20px;
padding: 0;
outline: none;
}


::-webkit-color-swatch {
border: none;
border-radius: 100%;
}


::-webkit-color-swatch-wrapper {
padding: 0;
}