@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  outline: none;
}

@media (hover: none){
  * {
    transition: none;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

@media (orientation: landscape){
  html {
    font-size: 13px;
  }
}

@media (orientation: portrait){
  html {
    font-size: 11px;
  }
}

body {
  font-family: 'TitillumWeb';
  padding-top: 60px;
}

/*! HEADAER */

h1 {
  font-family: 'TitillumWeb';
  font-weight: bold;
  color: #858688;
  font-size: 2rem;
}

@media (orientation: landscape){
  header {
    display: grid;
    grid-template-columns: 50.5% auto;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    align-items: center;
    padding: 0 10.8%;
  }

  .nav {
    display: flex;
    justify-self: right;
    align-items: center;
  }
}


@media (orientation: portrait){
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}


.nav li{
  margin: 0 12px;
  list-style: none;
}

@media (hover: hover) {
  .nav a:hover {
    font-weight: bold;
    font-size: 97%;
  }
}

.languages {
  margin-top: -5px;
  font-size: 0.9rem;
}

header button {
  box-sizing: border-box;
  width: 5.3vw;
  height: 32px;
  justify-self: end;
  font-weight: 600;
}

.log_in i{
  margin-right: 5px;
}

.log_in {
  margin-left: 30px;
  margin-right: -16px;
}

/*SLASH_LIST CLASS*/
.slash_list {
  list-style: none;
  display: flex;
  color: #a3a3a3;
}

.slash_list li:nth-child(n+2)::before{
  content: '/';
  margin: 0 10px;
}

#curr_lang, .slash_list a:hover {
  font-weight: bold;
  color: #959595;
  font-size: 95%;
}

#curr_lang {
  border-bottom: 1px solid #bfc5d4;
}

/*! MAIN_PICTURE SECTION*/

@media (orientation: landscape){
.main_picture{
  background-image: url('../assets/images/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 68vh;
  margin-bottom: 150px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
}
@media (orientation: portrait){
  .main_picture{
    background-image: url('../assets/images/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 50vw;
    margin-bottom: 150px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}
.main_picture h2{
  font-weight: 600;
  /* font-size: calc(15px + 3vw); */
  font-size: 4rem;
  color: #6e6f6e;
  text-align: center;
}

.main_picture h3{
  margin-top: -8px;
  color: #6e6e6e;
  font-weight: 400;
  /* font-size: calc(2vw + 6px); */
  font-size: 2.3rem;
}

.main_picture h3 strong{
  color: #fc585c;
  font-weight: 400;
}

/*BTN_BLOCK CLASS*/
.btn_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_picture .btn_block{
  background: radial-gradient(ellipse at 47% 0, #6280cb 0%,#6280cb00 50%);
  background-repeat: no-repeat;
  background-position: 50% 110%;
  background-size: 110% 60%;
  margin-bottom: 103px;
  margin-top: 55px;
  width: 45%;
}

.main_picture button {
  font-size: 1.15rem;
}

.main_picture .create_account {
  width: 208px;
  height: 48px;
  margin-left: -10px;
}

.main_picture .appstore, .main_picture .GP{
  width: 39px;
  height: 39px;
  margin-left: 20px;
}

.public_accounts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-end;
  right: 0;
  top: 33.5%;
  color: #676766;
  font-size: 20px;
  height: 500px;
  width: 170px;
  padding-right: 2.3vw;
  border-bottom: 1px solid #b9b9b9;
}

.public_accounts .Gp:hover{
  color: #fc696c;
}

.public_accounts .FB:hover{
  color: #5e7bea;
}

.public_accounts .TW:hover{
  color: #36bae1;
}


/*!BUTTON & ICON STYLES*/

i.FA-solid {
  font-family: "FontAwesome Pro";
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

i.FA-brands {
  font-family: "FontAwesome Brands";
  font-style: normal;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.dark-btn {
  box-sizing: border-box;
  background-image: linear-gradient(to right, #646c92, #5f2f6a);
  border-radius: 28px; 
  color: #ffffff;
  font-family: 'TitillumWeb';
  font-weight: 600;
  border: none;
  box-shadow: 0  0px  7px #5f2f6a40, /*opacity: 25%*/
              0  7px  9px #64739726, /*opacity: 15%*/ 
              0 13px 21px #1450cc40, /*opacity: 25%*/
              0  4px 16px #6691e959, /*opacity: 35%*/
              0  4px 16px #0000001a, /*opacity: 10%*/
              0  3px  9px #3567cd1a, /*opacity: 10%*/
              0  3px  9px #0000001a, /*opacity: 10%*/
              0  3px  3px #6691e91a, /*opacity: 10%*/
              0  3px  3px #0000001a; /*opacity: 10%*/
  transition: all ease-in 0.2s;
}


.small-dark-btn {
  box-sizing: border-box;
  background-color: #5f2f6a;
  border-radius: 28px;
  color: #ffffff;
  border: none;
}

.blue-btn {
  background-image: linear-gradient(to right, #35bbe0, #5e7bea);
  border-radius: 28px;
  color: #ffffff;
  font-family: 'TitillumWeb';
  font-weight: bold;
  border: none;
  box-shadow: 0  0px  7px #5f2f6a40, /*opacity: 25%*/
  0  7px  9px #1ae6da26, /*opacity: 15%*/ 
  0 13px 21px #1ae6da40, /*opacity: 25%*/
  0  4px 16px #1ae6da59, /*opacity: 35%*/
  0  4px 16px #0000001a, /*opacity: 10%*/
  0  3px  9px #1ae6da1a, /*opacity: 10%*/
  0  3px  9px #0000001a, /*opacity: 10%*/
  0  3px  3px #1ae6da1a, /*opacity: 10%*/
  0  3px  3px #0000001a; /*opacity: 10%*/
  transition: all ease-in 0.2s;
}

.bright-btn {
  background-image: linear-gradient(45deg, #582c7e, #6379cf);
  border-radius: 28px;
  color: #ffffff;
  font-family: 'TitillumWeb';
  font-weight: bold;
  border: none;
  box-shadow: 0  7px  9px #8e75de26, /*opacity: 15%*/ 
  0  4px 16px #6691e959, /*opacity: 35%*/
  0  4px 16px #0000001a, /*opacity: 10%*/
  0  3px  9px #3567cd1a, /*opacity: 10%*/
  0  3px  9px #0000001a, /*opacity: 10%*/
  0  3px  3px #6691e91a, /*opacity: 10%*/
  0  3px  3px #0000001a; /*opacity: 10%*/
  transition: all ease-in 0.2s;
}

.ghost-btn{
  background-color: #ffffff;
  border: none;
  font-family: 'TitillumWeb';
  transition: all ease-in 0.2s;
}

@media (hover: hover){
.dark-btn:hover {
  box-sizing: border-box;
  background: #ffffff;
  color: #5f2f6a;
  box-shadow: none;
  border: 2px solid #5f2f6a;
}

.small-dark-btn:hover {
  box-sizing: border-box;
  background: #ffffff;
  color: #5f2f6a;
  box-shadow: none;
  border: 2px solid #5f2f6a;
}

.blue-btn:hover {
  box-sizing: border-box;
  background: #ffffff;
  color: #35bbe0;
  box-shadow: none;
  border: 2px solid #35bbe0;
}
.bright-btn:hover {
  box-sizing: border-box;
  background: #ffffff;
  color: #6379cf;
  box-shadow: none;
  border: 2px solid #6379cf;
}

.ghost-btn:hover{
  box-sizing: border-box;
  border-radius: 28px;
  color: #6379cf;
  box-shadow: none;
  border: 2px solid #6379cf;
}
}

/*!FEATURES SECTION*/

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  width: 72%;
  margin: 0 auto;
  padding-left: 50px;

}

.feature {
  width: 84%;
  /* font-size: 14px; */
  color: #a3a1a1;
 /* display: grid; */
 /* grid:
    'img head1' 0.5fr
    'img head2' 1fr
    'paragraph paragraph' 4fr / auto 1fr;
    align-content: center; */
  position: relative;
  z-index: 2;
  bottom: 180px;
  margin-bottom: -180px;
  font-size: 0.9rem;
  padding-right: 7%;
  margin-right: -7%;
}

.feature_head img{
  float: left;
}

.feature_head {
  margin-left: -10px;
  padding-bottom: 25px;
}

.feature:nth-child(n+2){
  margin-top: 110px;
}

.feature:first-child .feature_head {
  padding-top: 110px;
  border-right: 1px solid #b9b9b9;
  width: 111%;
}

@media (orientation: landscape){
  .feature img{
   height: 56px;
  }
}
@media (orientation: portrait){
  .feature img{
    display: none;
  }
}

.feature h2{
  padding-top: 10px;
  /* grid-area: head1; */
  /* font-size: 30px; */
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1;
  color: #555555;
}

.feature h3 {
  /* grid-area: head2; */
  line-height: 1;
  /* font-size: 18px; */
  font-size: 1.2rem;
  font-weight: 400;
  /* align-self: start; */
}

.feature p {
  /* grid-area: paragraph; */
  /* align-self: start; */
  clear: left;
}

.feature:nth-child(2){
  border-right: 1px solid #b9b9b9;
}

/*!MAIN_FEATURE BLOCK*/
.main_feature {
  width: 92%;
  grid-column-start: 1;
  grid-column-end: span 2;
  text-align: right;
  border-right: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 7%;
  padding-top: 90px;
  padding-left: 100%;
  margin-left: -100%;
  padding-bottom: 5px;
}

.main_feature h2 {
  /* font-size: calc(30px + 2vw); */
  font-size: 4rem;
  color: #535353;
  font-weight: 400;
  margin-right: -3.05%;
}

.main_feature p {
  /* font-size: calc(12px + 1vw); */
  font-size: 1.6rem;
  color: #a3a1a1;
  width: 80%;
  margin-bottom: -10px;
  line-height: 0.9;
  margin-right: -3.05%;
}


.main_feature strong {
  color: #f65151;
  font-weight: 400;
}

.main_feature button {
  /* font-size: 16px; */
  font-size: 1rem;
  text-decoration: none;
  color: #676767;
  background-color: #ffffff;
  border-radius: 28px;
  border: 1px solid #b9b9b9;
  padding: 17px 26px;
  height: 52px;
  position: relative;
  z-index: 2;
  top: 32px;
  left: 185px;
  
}

.main_feature button:hover {
  background-color: #b9b9b9;
  color: #ffffff;
}

/*! TESTIMONIALS BLOCK*/
@media (orientation: landscape){
.testimonials {
  background-image: url('../assets/images/devices_bg.png');
  background-position: 100% -85%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 638px;
}
}

@media (orientation: portrait){
  .testimonials {
    background-image: none;
    height: 638px;
  }
  }

/*IMAGE-LINE STYLE*/
.image-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-line img {
  width: 90%;
}


.testimonials .image-line{
  width: 52%; 
  margin-top: 60px; 
  z-index: 3; 
  position: relative;
  margin-left: 20px;
}

/*FEEDBACKS BLOCK*/
.feedbacks {
  margin-left: 20%;
  margin-top: 48px;
  font-family: 'Malaga OT';
  font-style: italic;
  color: #101010;
  /* font-size: 24px; */
  font-size: 1.6rem; 
  width: 32%;
  display: flex;
  align-content: flex-start;
  line-height: 1.25;
}

.feedback-slider {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.feedback-slider input{
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #b7b7b7;
  margin-top: -5px;
}

.feedback-slider input::before {
  content: '\25CF';
  font-size: 23px;
}

.feedback-slider input:checked {
  content: '\25CF';
  color: #101010;

}

.feedback-slider input:hover:not(:checked) {
  color: #808080;
}

.feedback-author {
  font-style: italic;
  /* font-size: 16px; */
  font-size: 1.1rem;
  color: #727272;
}

/*DOWNLOAD_APP BLOCK*/
.download_app {
  background-image: url('../assets/images/devices.png');
  background-position: 77% 100%;
  background-repeat: no-repeat;
  background-size: 32%;
  position: relative;
  z-index: 2;
  height: 720px;
  top: -300px;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.download_app .btn_block {
  margin-top: 25px;
  margin-bottom: 150px;
  width: 25%;
  justify-content: flex-end;
  padding-left: 15px;
  
  margin-right: 50px;
}

.download_app button{
  background: none;
  border: none;
  width: 45%;
  padding-left: 20px;
}

.download_app button img {
  width: 100%;
  object-fit: cover;
}

.download_app .btn_block *:last-child {
  margin-left: -5px;
}

.download_app h2 {
 width: 25%;
 /* font-size: 36px; */
 font-size: 2.3rem;
 font-weight: 400;
 color: #535353;
 text-align: right;
 margin-right: 45px;
 margin-bottom: 5px;
}

.download_app p {
  /* font-size: 16px; */
  font-size: 1rem;
  color: #959393;
  width: 25%;
  text-align: right;
  margin-right: 45px;
}

/*!PARTNERS_SPONSORS_DONTE SECTION*/
.partners_sponsors_donate {
  width: 100%;
}

/*DONATE BLOCK*/
.donate {
  box-sizing: border-box;
  width: 78%;
  padding-right: 22%;
  border-top: 1px solid #b9b9b9;
  float: right;
  height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate h2 {
  margin-top: -16px;
  margin-bottom: -10px;
  /* font-size: 36px; */
  font-size: 2.4rem;
  color: #535353;
  font-weight: 400;
}

.donate h3 {
  margin-bottom: 27px;  
  /* font-size: 29px; */
  font-size: 1.9rem;
  color: #7c7c7c;
  font-weight: 400;
}

.donate .btn_block {
  width: 45.5%;
  height: 50px;
  justify-content: space-between;
}

.upgrade-btn {
  height: 100%;
  width: 52%;
  /* font-size: 18px; */
  font-size: 1.2rem;
  font-weight: 600;
}

.upgrade-btn i {
  margin-right: 5px;
}

.donate-btn {
  height: 100%;
  width: 38%;
  /* font-size: 18px; */
  font-size: 1.2rem;
  font-weight: 600;
}

.donate-btn i {
  margin-right: 5px;
}

/*PARTNERS_SPONSORS BLOCK*/
.partners_sponsors {
  box-sizing: border-box;
  width: 77%;
  border-right: 1px solid #b9b9b9;
  border-top: 1px solid #b9b9b9;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #afafaf;
  /* font-size: 14px; */
  padding: 14px 10px 0 4.5%;
  font-size: 0.95rem;
}

.partners_sponsors .image-line {
  margin-top: 6px;
}

/*!FOOTER*/
footer {
  box-sizing: border-box;
  margin-right: 23%;
  padding-left: 11%;
  display: grid;
  grid-template-areas: "contacts    footer-nav"
                       "social      footer-nav"
                       "copyright   footer-nav";
}

.contacts {
  grid-area: contacts;
  border-left: 1px solid #b9b9b9;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  line-height: 1.5;
  font-size: 0.9rem;
}

.contacts a {
  font-weight: bold;
}

.contacts a:hover {
  color: #5f2f6a;
}


.footer-nav {
  grid-area: footer-nav;
  display: flex;
  justify-content: space-between;
  justify-self: right;
  width: 87%;
}

.footer-nav h3 {
  margin-bottom: 19px;
}

.footer-nav div{
  text-align: right;
  padding-right: 4.5%;
  line-height: 1.6;
}

.footer-nav li{
  list-style-type: none;
  font-size: 0.9rem;
  /* font-size: calc(10px + 0.5vw); */
}

.footer-nav li:after{
  content: '\25CF';
  margin-left: 5px;
  color: #5c5c5c;
  font-size: 10px;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav div:last-child {
  border-right: 1px solid #b9b9b9;
  height: 130px;
}

.footer-nav div:first-child {
  border-right: 1px solid #b9b9b9;
}

.copyright {
  grid-area: copyright;
  /* font-size: 12px; */
  font-size: 0.6rem;
  margin-top: 18px;
  margin-bottom: 20px;
}

.social {
  grid-area: social;
  margin-top: 90px;
  /* font-size: 12px; */
  font-size: 0.7rem;
}

.social li a{
 border-bottom: 1px solid #d6d6d6;
 line-height: 0;
}