.card {
  border: 3px #000000 solid;
  background-color: #ffffff;
  height: 100%;
<<<<<<< HEAD
  width: inherit;
  padding: 12px;
  box-sizing: border-box;
 }

 .card:hover{
  border: 3px #ff0000 solid;
 }

 .card .title {
  color: #ff0000;
 }

 .card:hover{
  border: 3px #ff0000 solid;
 }

 .card .title {
  color: #ff0000;
=======
  width: 100%;
  padding: 12px;
>>>>>>> 181ba34... feat: interactive slider; minor styles
 }

.card .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 9a97c3c... refac: separate file for drag action
.card .author {
  font-size: 15px;
  display: inline-block;
}

.card .views{
  float: right;
}

.card .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.card .thumb {
  width: 100%;
  height: 28vh;
  object-fit: cover;
  margin: 10px auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

i{
  font-family: 'FontAwesome Pro';
  font-style: inherit;
  padding: 5px;
}
