@media (hover: none) {
  .slider{
    display: none;
  }
}

@media screen and (min-width: 1400px){
  :root{
    --card_width: 20vw;
    --spacing: calc((100% - (var(--card_width)*var(--page_size)))/(2.1*var(--page_size)));
    --page_size: 4;
  }
  }

@media screen and (max-width: 1400px){
:root{
  --card_width: 30vw;
  --spacing: calc((100% - (var(--card_width)*var(--page_size)))/(2.1*var(--page_size)));
  --page_size: 3;
}
}

@media screen and (max-width: 1000px){
  :root{
  --card_width: 40vw;
  --spacing: calc((100% - (var(--card_width)*var(--page_size)))/(2.1*var(--page_size)));
  --page_size: 2;
  }
}

@media screen and (max-width: 800px){
  :root{
  --card_width: 60vw;
  --spacing: calc((100% - (var(--card_width)*var(--page_size)))/(2.1*var(--page_size)));
  --page_size: 1;
  }
}


#content {
  display: flex;
  align-items: center;
  height: 50vh;
  overflow: hidden;
  margin: 0 auto;
  background-image: url('../../../assets/images/youtube.png');
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;

}

#content li {
  min-width: var(--card_width);
  height: 45vh;
  margin: 0 var(--spacing);
  box-sizing: border-box;
  transform: translate(calc(var(--i)*(var(--card_width)+50px)*(-1)));
  transition: transform 1s ease-out;
  list-style: none;
}

@function frac($number){
  @return $number;
}

#content:active li *:first-child {
  $w: var(--i);
  transform: skewX(-4deg);
  transition: transform 1s ease-out;
}

body {
  --i: 0;
  overflow: hidden;
  font-family: 'Segoe UI', 'SF Pro', sans-serif;
}

.searchbox input{
  width: 300px;
  font-size: 14px;
  height: 25px;
  text-indent: 30px;
  border: 0;
  position: relative;
  border-radius: 60px;
  background-color: #ff0000;
  border: solid 1px #ff0000;
  transition: all .3s ease-out;
  color: #ffffff;
}

.searchbox input:focus{
  outline: none;
  background-color: #ffffff;
  color: #323232;
}

.searchbox input:focus~label{
  color: #323232;
  transition: all .3s ease-out;
}

.searchbox{
  margin: 10px auto;
  width: 350px;
  padding-left: 40px;
}

  label {

    color: #ffffff;
    display: block;
    font-family: 'FontAwesome Pro';
    font-size: 18px;
    left: 6px;
    bottom: 23px;
    position: relative;
    z-index: 1;
  }

.searchbox input::after {
  content: '0';
}

#loader{
  position: absolute;
  z-index: -1;
  transform: translateX(50%);
  right: 50%;
  bottom: 15%;
}

.slider input {
  -webkit-appearance: none;
  outline: none;
}

.slider input:hover::after {
  transition: all .3s ease-out;
  background-color: #ff0000;
}

.slider input::after {
  content: '\ ';
  border-radius: 100%;
  font-size: 0.1px;
  background-color: #ff9999;
  width: 10px;
  height: 10px;
  display: block;
  margin: 2px;
  margin-top: -15px;
}

input.slider-main::after {
  transform: scale(1.2);
  background-color: #ff0000;
  transition: all .3s ease-out;
}

.slider {
  position: absolute;
  bottom: 35%;
  transform: translateX(50%);
  right: 50%;
  z-index: 2;
}

.slider input:nth-child(1):hover::before{
  --n: calc(var(--i) - 2);
  counter-reset: i var(--n);
  content: counter(i);
  position: relative;
  right: 5px;
  bottom: 20px;

  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  transition: all .5s ease-out;
  width: 20px;
  height: 15px;
  text-align: center;
  display: block;
  border-radius: 5px;
}

.slider input:nth-child(2):hover::before{
  --n: calc(var(--i) - 1);
  counter-reset: i var(--n);
  content: counter(i);
  position: relative;
  right: 5px;
  bottom: 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  transition: all .5s ease-out;
  width: 20px;
  height: 15px;
  text-align: center;
  display: block;
  border-radius: 5px;
}

.slider input:nth-child(3):hover::before{
  --n: calc(var(--i));
  counter-reset: i var(--n);
  content: counter(i);
  position: relative;
  right: 5px;
  bottom: 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  transition: all .5s ease-out;
  width: 20px;
  height: 15px;
  text-align: center;
  display: block;
  border-radius: 5px;
}

.slider input:nth-child(4):hover::before{
  --n: calc(var(--i) + 1);
  counter-reset: i var(--n);
  content: counter(i);
  position: relative;
  right: 5px;
  bottom: 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  transition: all .5s ease-out;
  width: 20px;
  height: 15px;
  text-align: center;
  display: block;
  border-radius: 5px;
}

.slider input:nth-child(5):hover::before{
  --n: calc(var(--i) + 2);
  counter-reset: i var(--n);
  content: counter(i);
  position: relative;
  right: 5px;
  bottom: 20px;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  transition: all .5s ease-out;
  width: 20px;
  height: 15px;
  text-align: center;
  display: block;
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0; }
